/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

/* Header styles */
header {
    background-color: #6b6b6b;
    box-shadow: 0 2px 4px rgba(243, 232, 232, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-weight: bold;
    font-size: 18px;
}

/* Hero section styles */
.hero {
    /* background-image: url('https://www.xivtech.io./x1.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.hero-content {
    text-align: center;
    color: #000000;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #666;
}

/* Services section styles */
.services {
    padding: 80px 0;
    background-color: #f5f5f5;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.services p {
    font-size: 24px;
    margin-bottom: 40px;
}

.service-card {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 40px;
    vertical-align: top;
}

.service-card:last-child {
    margin-right: 0;
}

.service-card img {
    width: 100%;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-card p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 14px;
}
